body {
  background-color: #f1f1f1;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.02);
  height: 720px;
  width: 720px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column; */
}

.container#start {
  padding: 0px;
}

.container:not(:target) {
  display: none !important;
}

.container#start #content {
  padding: 40px;
  padding-bottom: 0px;
  display: flex;
}

.button {
  transition: background-color 3s cubic-bezier(0, 0.46, 0.12, 0.98),
    box-shadow 3s cubic-bezier(0, 0.46, 0.12, 0.98),
    padding 200ms cubic-bezier(0, 0.97, 0, 0.98);
  background-color: #ff9d9d;
  padding: 12px 24px 12px 24px;
  color: white !important;
  display: inline;
  border-radius: 40px;
  font-size: 19px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.button:hover {
  background-color: rgb(255, 119, 119);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#subtitle {
  font-size: 24px;
  opacity: 0.5;
  margin-bottom: 12px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.7;
}

#start .buttoncon {
  flex: 1;
}

.buttoncon {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.buttoncon .button {
  /* display: inline-block; */
}

.container#input {
  display: flex;
  flex-direction: column;
}
.container#input .content {
  display: flex;
  flex: 1;
  margin-top: 40px;
}
.container#input .content div {
  display: flex;
  /* border: 1px solid red; */
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.container#input #file #clip {
  width: 72px;
  height: 72px;
}
.container#input #file p {
  font-size: 16px;
  font-weight: 900;
  opacity: 0.7;
}
.container#input #file {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}
.container#input textarea {
  height: 100%;
  outline: none;
  resize: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  padding: 12px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 12px;
}
.container#input .buttoncon {
  align-self: flex-end;
}
.container#input #textInput {
  padding-right: 0px;
}
.container#view_chart {
  display: flex;
  flex-direction: column;
}
.container#view_chart .buttoncon {
  flex: 1;
}
