@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto sans kr', sans-serif;
  color: white;
  overflow-x: hidden;
}

xmp {
  font-family: inherit;
  font-size: 100%;
}

#bg1 {
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
  z-index: -96;
}

#bg2 {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  z-index: -97;
}

#bg3 {
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
  z-index: -100;
}

.gr {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#container {
  max-width: 500px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

#main {
  padding-top: 10px;
}

h1 {
  color: white;
}

#content {
  margin-top: 150px;
  font-size: 50px;
  font-weight: 100;
}

#next {
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 30px;
  border-radius: 10px;
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  opacity: 0;
  border: 0;
  resize: none;
}
#chart_div{
  display: none;
}
@media (max-width: 500px) {
  body{
    margin: 0;
    padding: 0;
  }
  #container{
    max-width: 100vw;
    height: 100vh;
    margin: 0;
  }
  #main{
    padding: 0;
  }
  #next{
    position: fixed;
    top: 50vh;
  }
  #contents{
    width: 90vw;
    height: 14vh;
  }
}
